*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    padding: 16px;

    width: 100vw;
    height: 100vh;

    background-image: url("../public/fundo.png");
    background-size: 100%; /* Para ajustar a imagem ao tamanho da tela */
    background-repeat: no-repeat;
    /* background-position: center; */
    /* backdrop-filter: blur(10px); */
    /* -webkit-backdrop-filter: blur(10px); */
}
.cabecalho{
    display:flex;
    align-items: center;
}
.caixa {
    border: 3px solid #606060; /* Borda sólida de 2px, cor preta */
    padding: 10px; /* Espaçamento interno de 10px */
    width: 60vw; /* Largura da caixa */
    background-color: #f0f0f0; /* Cor de fundo da caixa */
    border-radius:10px;
    margin-left: 10px;
    margin-right: 10px;
    height: 50%;
    flex: 1;

    font-family: "Special Elite", monospace;
    font-size: 100%;

}
.imagem_logo{
    width: 10%;
    border-radius: 100%;
    border: 3px solid #606060;
}

.caixa p {
    display: inline-block;
    width: 14ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(14), blinkingCursor 500ms infinite normal;
    border-right: 2px solid rgba(0, 0, 0, 1);
}

#generateReportBTN {
    position: fixed;
    top: 55%;
    left: 50%;
    padding: 39px 90px;
    border-radius: 20px;
    background-color: #984482;
    color: #fff; 
    font-size: 20px;
    font-family: 'Impact', fantasy, sans-serif;
    font-weight: normal;
    text-align: center;
    border: 3px solid #000; /* Borda sólida de 2px, cor preta */
    outline: none; 
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0); 
    transition: box-shadow 0.1s; 
    cursor: pointer;
    transform: translate(-50%, -50%);
}

#generateReportBTN:hover { 
    opacity: 1;
}

#generateReportBTN:active {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);
}


@keyframes typing {
    from {
        width: 0; /* Começa com largura zero */
    }
    to {
        width: 14ch; /* Termina com largura total */
    }
}

@keyframes blinkingCursor{
    from {
        border-right-color: rgba(0, 0, 0, 1); 
    }
    to {
        border-right-color: rgba(0, 0, 0, 0);
    }
}